.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    margin-top: 20px; /* Add some top margin to separate it from the input fields */
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%; /* Make the button full width */
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect */
}

.form button:hover {
    background-color: #FA3737; /* Change background color on hover */
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup > label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.input:focus {
    outline: none;
    border: 0;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.message{
    font-size: 20px;
}
    .signin {
    text-align: center;
    font-size: 12px;
}

.signin a {
    color: #FA3737;
}

.signin a:hover {
    text-decoration: underline;
}